<!DOCTYPE html>
<html>
<head>
<title>Page 1</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
<div class="container" style="padding-left: 10%;padding-right: 10%">
  <div class="row row-centered">  
    	
    		 <h4  style="text-align: center; margin-top: 10%;color:#308bf2;  font-size: 22px "><b>Frequently Ask Questions</b></h4>
			 	 
			 		<% for(var i=0; i < arr1.length; i++) { %>
		 				<div style="display: inline-flex;">
		 					<span style="color: #308bf2;font-size: 20px;white-space:nowrap;"><b>Q:&nbsp&nbsp</b></span><span style="padding-top: 8px"><%-arr1[i]%></span>
		 				</div>
		 				<div style="display: inline-flex;">
		 					<span style="color: rgb(130, 130, 130);font-size: 20px;white-space:nowrap;"><b>A:&nbsp&nbsp</b></span><span style="padding-top: 6px"><%-arr2[i]%></span>

		 				</div>
		     			
		     			
					<% } %>
			 
		 		   
  </div>
 
	
</div>
</body>
</html>