<!DOCTYPE html>
<html>
<head>
<title>Ambassador Program</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type='text/javascript'>
            function getText()
            {
                return document.getElementById('txtinput').value;
            }
            function performClick()
            {
            	window.location = 'oz:contribute';
            	//ok.performClick('congratulation')
                
            }
            function getValue(){
            	window.location = 'oz:become_ambassador'
            }

        </script>

    <style type="text/css">
    	#button:focus { 
            outline : none;
        }
    </style>
</head>
<body style="background-color: #f0f1f5">
<div class="container">
  <div class="row row-centered">  
      <video  controls  class="col-xs-12 col-centered" style="margin-top: 30px;margin-bottom: 40px; height : 200px">
	  	<source src="<%= link %>" type="video/mp4">
	  </video>
	  <p  style="text-align: center; margin-top: 30px;color: #308bf2; margin: 0; font-size: 23px">What does it take to be an</p>
	   <p  style="text-align: center;color: #308bf2;margin: 0;margin-bottom: 15px; font-size: 23px">Ambassador?</p>
	   <p  style="text-align: center;margin: 0">
	   	Ambassadors undergo suicide prevention
	   </p>
	   <p style="text-align: center;margin: 0">
	   	training and agree to make themselves
	   </p>
	    
	    <p  style="text-align: center;margin: 0">
	   	available to those in-need for at least 30
	   </p>
	    <p  style="text-align: center;margin: 0">
	   	minutes a week
	   </p>
  </div>
  	<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				 <button class="btn btn-warning center-block" id="button" style="width: 100%;    border-style: none;background-color: #267ddc; margin-top: 16px; padding: 15px" onclick="getValue()" >BECOME AN AMBASSADOR</button>
	   			<button class="btn btn-primary center-block " id="button" style="width: 100% ;    border-style: none;margin-top: 10px;background-color: #1f56c4; margin-bottom: 16px; padding: 15px" onclick="performClick()" >CONTRIBUTE</button>
			</div>
		</div>
 
	
</div>
</body>
</html>