<!DOCTYPE html>
<html>
<head>
<title>Page 1</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<style type="text/css">
	@media only screen and (max-width: 650px) {
    .container {
       padding-left: 10%;padding-right: 10%;
    }
</style>

</head>
<body>
<div class="container" >
  <div class="row row-centered">  
    
	 	 <h4  style="text-align: center; margin-top: 20%;color:#308bf2; "><b><%-title%></b></h4>
	 	 <p style="text-align: center;padding-top: 7%;padding-bottom: 3%" ><%-description1%></p>
	    
  </div>
 
	
</div>
</body>
</html>